# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# VSCode debugger
.vscode

# node
OpenHome-frontend/node_modules/*
node_modules/*
package-*.json

OpenHome-server/.idea/misc.xml
